
*{
    margin: 0;

}
body{
    font-family: Helvetica;
}
nav{
 justify-content: center;
 background-color: white;
 padding: 10px;
 

}
.navbar-brand{
    color: rgb(72, 72, 72);
    font-weight: bold;
}

.hub{
    display: inline;
    background-color: rgb(245, 30, 30);
    color: white;
    padding: 3px;
    border-radius: 5px;
}
.container1{
    position: relative;
    text-align: center;
    color: white;
    padding: 10px 0px ;
    font-size: 10px;
}
.container2{
    padding: 10px 0px ;
    position: relative;
    text-align: center;
    color: white;
}

.container3{
    padding: 10px 0px ;
    position: relative;
    text-align: center;
    color: white;
}

.top-right{
    position: absolute;
    bottom: 30px;
    left: 100px;
    padding-left: 20px;
    padding-right: 20px;
    text-size-adjust:inherit;
}

