<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

*{
    box-sizing: border-box;
    margin: 0;

}
body{
    font-family: Helvetica;
}
nav{
 justify-content: center;
 background-color: white;
 padding: 10px;
 

}
.navbar-brand{
    color: rgb(72, 72, 72);
    font-weight: bold;
}

.hub{
    display: inline;
    background-color: rgb(245, 30, 30);
    color: white;
    padding: 3px;
    border-radius: 5px;
}
.container1{
    padding: 10px 0px ;
}
.container2{
    padding: 10px 0px ;
}
.container3{
    padding: 10px 0px ;
}
@media only screen and (max-width: 100% ) {

    .top-right{
            width: 200%;
            height: auto;
            background-size: 100% auto !important;
    }
}
.top-right{
    color: white;
    position: absolute;
    bottom: 72%;
    left: 40%;

}